.palette {
  height: 100vh;
  overflow: hidden;

  &__colors-grid {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4vh;
    background-color: #fff;
    font-weight: bold;
  }

  &__footer-emoji {
    font-size: 1.2rem;
    margin: 1rem;
  }
}
